<!-- 展示当前用户表格 -->
<h4 nz-typography class="mt-2">当前教师</h4>
<nz-table #currentUserInTable [nzPageSize]="10" nzShowQuickJumper [nzData]='currentDisplayUserList!'>
  <thead>
    <tr>
      <th nzCustomFilter>工号
        <nz-filter-trigger [(nzVisible)]="visibleSearchSid" [nzActive]="searchSidValue.length > 0"
          [nzDropdownMenu]="searchSidMenu">
          <i nz-icon nzType="filter" nzTheme="twotone"></i>
        </nz-filter-trigger>
      </th>
      <th nzCustomFilter>姓名
        <nz-filter-trigger [(nzVisible)]="visibleSearchName" [nzActive]="searchNameValue.length > 0"
          [nzDropdownMenu]="searchNameMenu">
          <i nz-icon nzType="filter" nzTheme="twotone"></i>
        </nz-filter-trigger>
      </th>
      <th>研究所</th>
      <th>院系</th>
      <th>研究方向</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of currentUserInTable.data">
      <td>{{ data.sid }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.institute }}</td>
      <td>{{ data.department }}</td>
      <td>{{ data.direction }}</td>
      <td>
        <a nz-button nzType="link" (click)="showModalShowInfo(data)">查看个人信息</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-button nzType="link" (click)="showModalResetInfo(data)">更新教师信息</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-button nzType="link" nz-popconfirm nzPopconfirmTitle="确定要删除教师 {{data.name}} 吗?"
          nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteConfirm(data)" (nzOnCancel)="deleteCancel()"
          nzOkText="确认删除" nzCancelText="取消">删除教师</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<!-- 姓名的搜索的下拉框 -->
<nz-dropdown-menu #searchNameMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="p-2">
      <input class="w-44 mb-2 block" nz-input placeholder="按名字搜索" [(ngModel)]="searchNameValue" />
      <button class="w-20 mr-4" nz-button nzSize="small" nzType="primary" (click)="searchName()">
        搜索
      </button>
      <button class="w-20" nz-button nzSize="small" (click)="resetName()">重置</button>
    </div>
  </div>
</nz-dropdown-menu>

<!-- sid的搜索的下拉框 -->
<nz-dropdown-menu #searchSidMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="p-2">
      <input class="w-44 mb-2 block" nz-input placeholder="按账户搜索" [(ngModel)]="searchSidValue" />
      <button class="w-20 mr-4" nz-button nzSize="small" nzType="primary" (click)="searchSid()">
        搜索
      </button>
      <button class="w-20" nz-button nzSize="small" (click)="resetSid()">重置</button>
    </div>
  </div>
</nz-dropdown-menu>

<!-- 查看个人信息的对话框 -->
<nz-modal [nzStyle]="{ width: '60%' }" [(nzVisible)]="isVisibleShowInfo" nzTitle="查看个人信息" (nzOnOk)="handleOkShowInfo()"
  (nzOnCancel)="handleOkShowInfo()" [nzOkLoading]="isOkLoadingShowInfo">
  <ng-container *nzModalContent>
    <nz-descriptions nzTitle="" nzBordered>
      <nz-descriptions-item nzTitle="工号">{{currentSelectedUser.sid}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="姓名">{{currentSelectedUser.name}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="联系方式">{{currentSelectedUser.contact}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="研究所">{{currentSelectedUser.institute}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="院系">{{currentSelectedUser.department}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="单位">{{currentSelectedUser.organization}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="职称">{{currentSelectedUser.job}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="研究方向">{{currentSelectedUser.direction}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="招收学生数">{{currentSelectedUser.maxRes}}</nz-descriptions-item>
    </nz-descriptions>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleOkShowInfo()">确认</button>
  </div>
</nz-modal>

<!-- 更新教师信息的对话框 -->
<nz-modal [nzStyle]="{ width: '80%' }" [(nzVisible)]="isVisibleResetInfo" nzTitle="更新教师信息"
  (nzOnCancel)="handleCancelResetInfo()" (nzOnOk)="handleOkResetInfo()" [nzOkLoading]="isOkLoadingResetInfo">
  <ng-container *nzModalContent>
    <nz-descriptions nzTitle="" nzBordered>
      <nz-descriptions-item nzTitle="联系方式"><input nz-input [(ngModel)]="currentSelectedUser.contact" />
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="研究所"><input nz-input [(ngModel)]="currentSelectedUser.institute" />
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="院系"><input nz-input [(ngModel)]="currentSelectedUser.department" />
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="单位"><input nz-input [(ngModel)]="currentSelectedUser.organization" />
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="职称"><input nz-input [(ngModel)]="currentSelectedUser.job" /></nz-descriptions-item>
      <nz-descriptions-item nzTitle="研究方向"><input nz-input [(ngModel)]="currentSelectedUser.direction" />
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="招收学生数"><input nz-input [(ngModel)]="currentSelectedUser.maxRes" />
      </nz-descriptions-item>
    </nz-descriptions>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancelResetInfo()">取消</button>
    <button nz-button nzType="primary" (click)="handleOkResetInfo()" [nzLoading]="isOkLoadingResetInfo">确认修改</button>
  </div>
</nz-modal>
