<button class="mt-2 ml-8 h-10 w-60" nz-button [nzType]="'primary'"
  (click)="showModalUpdateInfo()"><span>查看/修改个人信息</span></button>

<!-- 修改个人信息的对话框 -->
<nz-modal [nzStyle]="{ width: '80%' }" [(nzVisible)]="isVisibleUpdateInfo" nzTitle="查看/修改个人信息"
  (nzOnCancel)="handleCancelUpdateInfo()" (nzOnOk)="handleOkUpdateInfo()" [nzOkLoading]="isOkLoadingUpdateInfo">
  <ng-container *nzModalContent>
    <nz-descriptions nzTitle="" nzBordered>
      <nz-descriptions-item nzTitle="学号">
        {{currentStudentInfo.sid}} </nz-descriptions-item>
      <nz-descriptions-item nzTitle="姓名">
        {{currentStudentInfo.name}} </nz-descriptions-item>
      <nz-descriptions-item nzTitle="专业">
        <input nz-input [(ngModel)]="currentStudentInfo.major" />
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="院系">
        {{currentStudentInfo.department}} </nz-descriptions-item>
      <nz-descriptions-item nzTitle="学科门类">
        <input nz-input [(ngModel)]="currentStudentInfo.field" />
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="最大申请数">
        {{currentStudentInfo.maxReq}} </nz-descriptions-item>

      <nz-descriptions-item nzTitle="是否双学位">
        <nz-radio-group [(ngModel)]="currentStudentInfo.doubleDegree">
          <label nz-radio [nzValue]='true'>是</label>
          <label nz-radio [nzValue]='false'>否</label>
        </nz-radio-group>
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="双学位所在专业">
        <input nz-input *ngIf="currentStudentInfo.doubleDegree" [(ngModel)]="currentStudentInfo.doubleDegreeMajor" />
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="双学位所在院系">
        <input nz-input *ngIf="currentStudentInfo.doubleDegree"
          [(ngModel)]="currentStudentInfo.doubleDegreeDepartment" />
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="论文选题">
        <input nz-input [(ngModel)]="currentStudentInfo.topicName" />
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="论文选题类型">
        <input nz-input [(ngModel)]="currentStudentInfo.topicType" />
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="是否社会实践类">
        <nz-radio-group [(ngModel)]="currentStudentInfo.topicSocialExp">
          <label nz-radio [nzValue]='true'>是</label>
          <label nz-radio [nzValue]='false'>否</label>
        </nz-radio-group>
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="个人介绍" [nzSpan]="3">
        <textarea rows="4" nz-input [(ngModel)]="currentStudentInfo.info"></textarea>
      </nz-descriptions-item>
    </nz-descriptions>

  </ng-container>

  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancelUpdateInfo()">取消</button>
    <button nz-button nzType="primary" (click)="handleOkUpdateInfo()" [nzLoading]="isOkLoadingUpdateInfo">确认修改</button>
  </div>
</nz-modal>
