<button class="mt-2 ml-8 h-10 w-60" nz-button [nzType]="'primary'"
  (click)="showModalUpdateInfo()"><span>查看/修改个人信息</span></button>

<!-- 修改个人信息的对话框 -->
<nz-modal [nzStyle]="{ width: '60%' }" [(nzVisible)]="isVisibleUpdateInfo" nzTitle="查看/修改个人信息"
  (nzOnCancel)="handleCancelUpdateInfo()" (nzOnOk)="handleOkUpdateInfo()" [nzOkLoading]="isOkLoadingUpdateInfo">
  <ng-container *nzModalContent>
    <nz-descriptions nzTitle="" nzBordered>
      <nz-descriptions-item nzTitle="姓名" nzSpan="1">
        {{currentStudentInfo.name}} </nz-descriptions-item>
      <nz-descriptions-item nzTitle="准考证号" nzSpan="2">
        {{currentStudentInfo.sid}} </nz-descriptions-item>
      <nz-descriptions-item nzTitle="性别" nzSpan="1">
        {{currentStudentInfo.sex}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="电话" nzSpan="2">
        <input class="w-44 mb-2 block" nz-input [(ngModel)]="currentStudentInfo.phone" />
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="初试分数" nzSpan="3">
        {{currentStudentInfo.score1}}
      </nz-descriptions-item>
      <!-- <nz-descriptions-item nzTitle="签名" nzSpan="3">
        <div *ngIf="currentStudentInfo.sign!.slice(0,10)=='data:image'"><img src="{{currentStudentInfo.sign}}"
            class="border-gray-400 border-solid max-h-16 w-auto h-auto">
        </div>
        <nz-upload [nzLimit]='1' [nzMultiple]="true" [nzBeforeUpload]="beforeUpload"
          *ngIf="currentStudentInfo.sign==''">
          <button nz-button>
            <i nz-icon nzType="upload"></i>
            <span>选择要上传的签名(图片)</span>
          </button>
        </nz-upload>
        <nz-upload [nzLimit]='1' [nzMultiple]="true" [nzBeforeUpload]="beforeUpload"
          *ngIf="currentStudentInfo.sign!=''">
          <button nz-button>
            <i nz-icon nzType="upload"></i>
            <span>修改签名(上传图片)</span>
          </button>
        </nz-upload>
      </nz-descriptions-item> -->

    </nz-descriptions>

  </ng-container>

  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancelUpdateInfo()">取消</button>
    <button nz-button nzType="primary" (click)="handleOkUpdateInfo()" [nzLoading]="isOkLoadingUpdateInfo">确认修改</button>
  </div>
</nz-modal>
