<div class="ml-8">
  <h4 nz-typography class="mt-2">收到的申请</h4>
  <nz-table #currentRequestInTable [nzPageSize]="10" [nzData]='currentDisplayRequestList!'>
    <thead>
      <tr>
        <th>申请学生</th>
        <th>教师是否通过申请</th>
        <th>申请状态
          <nz-filter-trigger [(nzVisible)]="visibleSearchStatus" [nzDropdownMenu]="searchStatusMenu">
            <i nz-icon nzType="filter" nzTheme="twotone"></i>
          </nz-filter-trigger>
        </th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of currentRequestInTable.data">
        <td>{{ data.Student.name }} ({{ data.Student.sid }}) </td>
        <td>{{ data.pass?'已通过':'审核中' }}</td>
        <td>{{ data.isDeleted?'已删除':'进行中' }}</td>
        <td>
          <a nz-button nzType="link" (click)="showModalRequestInfo(data)">查看完整申请信息</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-button nzType="link" nz-popconfirm nzPopconfirmTitle="确定要拒绝(删除) {{ data.Student.name}} 的毕业设计申请吗?"
            nzPopconfirmPlacement="bottom" (nzOnConfirm)="CancelRequestConfirm(data.rid)" (nzOnCancel)="Cancel()"
            nzOkText="确认删除申请" nzCancelText="取消">拒绝(删除)毕业设计申请</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a *ngIf="!data.pass" nz-button nzType="link" nz-popconfirm
            nzPopconfirmTitle="确定通过 {{ data.Student.name}} 的毕业设计申请吗?" nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="passRequestConfirm(data.rid)" (nzOnCancel)="Cancel()" nzOkText="确认通过申请"
            nzCancelText="取消">通过毕业设计申请</a>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <!-- 申请状态的搜索的下拉框 -->
  <nz-dropdown-menu #searchStatusMenu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="p-2">
        <nz-radio-group class="mb-2 block" [(ngModel)]="searchStatusValue">
          <label nz-radio nzValue="true">已删除</label>
          <label nz-radio class="ml-4" nzValue="false">进行中</label>
        </nz-radio-group>
        <button class="w-20 mr-4" nz-button nzSize="small" nzType="primary" (click)="searchStatus()">
          搜索
        </button>
        <button class="w-20" nz-button nzSize="small" (click)="resetStatus()">重置</button>
      </div>
    </div>
  </nz-dropdown-menu>

  <!-- 查看更多申请信息的对话框 -->
  <nz-modal [nzStyle]="{ width: '80%' }" [(nzVisible)]="isVisibleRequestInfo" nzTitle="毕业设计申请信息"
    (nzOnOk)="handleOkRequestInfo()" (nzOnCancel)="handleOkRequestInfo()" [nzOkLoading]="isOkLoadingRequestInfo">
    <ng-container *nzModalContent>
      <nz-descriptions nzTitle="申请相关信息" nzBordered class="mt-4">
        <nz-descriptions-item nzTitle="申请id">{{currentSelectedRequest.rid}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="是否已删除">{{currentSelectedRequest.isDeleted?'是':'否'}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="教师是否已通过">{{currentSelectedRequest.pass?'是':'否'}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="教师是否为校外教师">{{currentSelectedRequest.manual?'是':'否'}}</nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions nzTitle="申请学生信息" nzBordered class="mt-4">
        <nz-descriptions-item nzTitle="学号">{{currentSelectedRequest.Student.sid}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="姓名">{{currentSelectedRequest.Student.name}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="专业">{{currentSelectedRequest.Student.major}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="院系">{{currentSelectedRequest.Student.department}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="学科门类">{{currentSelectedRequest.Student.field}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="是否双学位">{{currentSelectedRequest.Student.doubleDegree}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="双学位所在专业">{{currentSelectedRequest.Student.doubleDegreeMajor}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="双学位所在院系">{{currentSelectedRequest.Student.doubleDegreeDepartment}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="最大申请数">{{currentSelectedRequest.Student.maxReq}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="论文选题">{{currentSelectedRequest.Student.topicName}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="论文选题类型">{{currentSelectedRequest.Student.topicType}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="是否社会实践类">{{currentSelectedRequest.Student.topicSocialExp}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="个人介绍">{{currentSelectedRequest.Student.info}}</nz-descriptions-item>
      </nz-descriptions>
    </ng-container>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleOkRequestInfo()">确定</button>
    </div>
  </nz-modal>
</div>
