<!-- 展示当前用户表格 -->
<h4 nz-typography class="mt-2">当前学生</h4>
<nz-table #currentUserInTable [nzPageSize]="10" nzShowQuickJumper [nzData]='currentDisplayUserList!'>
  <thead>
    <tr>
      <th nzCustomFilter>学号
        <nz-filter-trigger [(nzVisible)]="visibleSearchSid" [nzActive]="searchSidValue.length > 0"
          [nzDropdownMenu]="searchSidMenu">
          <i nz-icon nzType="filter" nzTheme="twotone"></i>
        </nz-filter-trigger>
      </th>
      <th nzCustomFilter>姓名
        <nz-filter-trigger [(nzVisible)]="visibleSearchName" [nzActive]="searchNameValue.length > 0"
          [nzDropdownMenu]="searchNameMenu">
          <i nz-icon nzType="filter" nzTheme="twotone"></i>
        </nz-filter-trigger>
      </th>
      <th>专业</th>
      <th>院系</th>
      <th>学科门类</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of currentUserInTable.data">
      <td>{{ data.sid }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.major }}</td>
      <td>{{ data.department}}</td>
      <td>{{ data.field}}</td>
      <td>
        <a nz-button nzType="link" (click)="showModalShowInfo(data)">查看个人信息</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-button nzType="link" (click)="showModalResetInfo(data)">更新学生信息</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-button nzType="link" nz-popconfirm nzPopconfirmTitle="确定要删除学生 {{data.name}} 吗?"
          nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteConfirm(data)" (nzOnCancel)="deleteCancel()"
          nzOkText="确认删除" nzCancelText="取消">删除学生</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<!-- 姓名的搜索的下拉框 -->
<nz-dropdown-menu #searchNameMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="p-2">
      <input class="w-44 mb-2 block" nz-input placeholder="按名字搜索" [(ngModel)]="searchNameValue" />
      <button class="w-20 mr-4" nz-button nzSize="small" nzType="primary" (click)="searchName()">
        搜索
      </button>
      <button class="w-20" nz-button nzSize="small" (click)="resetName()">重置</button>
    </div>
  </div>
</nz-dropdown-menu>

<!-- sid的搜索的下拉框 -->
<nz-dropdown-menu #searchSidMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="p-2">
      <input class="w-44 mb-2 block" nz-input placeholder="按账户搜索" [(ngModel)]="searchSidValue" />
      <button class="w-20 mr-4" nz-button nzSize="small" nzType="primary" (click)="searchSid()">
        搜索
      </button>
      <button class="w-20" nz-button nzSize="small" (click)="resetSid()">重置</button>
    </div>
  </div>
</nz-dropdown-menu>

<!-- 查看个人信息的对话框 -->
<nz-modal [nzStyle]="{ width: '60%' }" [(nzVisible)]="isVisibleShowInfo" nzTitle="查看个人信息" (nzOnOk)="handleOkShowInfo()"
  (nzOnCancel)="handleOkShowInfo()" [nzOkLoading]="isOkLoadingShowInfo">
  <ng-container *nzModalContent>
    <nz-descriptions nzTitle="" nzBordered>
      <nz-descriptions-item nzTitle="学号">{{currentSelectedUser.sid}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="姓名">{{currentSelectedUser.name}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="专业">{{currentSelectedUser.major}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="院系">{{currentSelectedUser.department}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="学科门类">{{currentSelectedUser.field}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="是否双学位">{{currentSelectedUser.doubleDegree?'是':'否'}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="双学位所在专业">{{currentSelectedUser.doubleDegreeMajor}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="双学位所在院系">{{currentSelectedUser.doubleDegreeDepartment}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="最大申请数">{{currentSelectedUser.maxReq}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="论文选题">{{currentSelectedUser.topicName}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="论文选题类型">{{currentSelectedUser.topicType}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="是否社会实践类">{{currentSelectedUser.topicSocialExp?'是':'否'}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="个人介绍">{{currentSelectedUser.info}}</nz-descriptions-item>
    </nz-descriptions>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleOkShowInfo()">确认</button>
  </div>
</nz-modal>

<!-- 更新学生信息的对话框 -->
<nz-modal [nzStyle]="{ width: '80%' }" [(nzVisible)]="isVisibleResetInfo" nzTitle="更新学生信息"
  (nzOnCancel)="handleCancelResetInfo()" (nzOnOk)="handleOkResetInfo()" [nzOkLoading]="isOkLoadingResetInfo">
  <ng-container *nzModalContent>
    <nz-descriptions nzTitle="" nzBordered>
      <nz-descriptions-item nzTitle="专业" nzSpan="2"><input nz-input [(ngModel)]="currentSelectedUser.major" />
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="学科门类"><input nz-input [(ngModel)]="currentSelectedUser.field" />
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="是否双学位">
        <nz-radio-group [(ngModel)]="currentSelectedUser.doubleDegree">
          <label nz-radio [nzValue]='true'>是</label>
          <label nz-radio [nzValue]='false'>否</label>
        </nz-radio-group>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="双学位所在专业"><input *ngIf="currentSelectedUser.doubleDegree" nz-input
          [(ngModel)]="currentSelectedUser.doubleDegreeMajor" />
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="双学位所在院系"><input *ngIf="currentSelectedUser.doubleDegree" nz-input
          [(ngModel)]="currentSelectedUser.doubleDegreeDepartment" /></nz-descriptions-item>
      <nz-descriptions-item nzTitle="论文选题"><input nz-input [(ngModel)]="currentSelectedUser.topicName" />
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="论文选题类型"><input nz-input [(ngModel)]="currentSelectedUser.topicType" />
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="是否社会实践类">
        <nz-radio-group [(ngModel)]="currentSelectedUser.topicSocialExp">
          <label nz-radio [nzValue]='true'>是</label>
          <label nz-radio [nzValue]='false'>否</label>
        </nz-radio-group>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="个人介绍" nzSpan="3"><textarea rows="4" nz-input
          [(ngModel)]="currentSelectedUser.info"></textarea>
      </nz-descriptions-item>
    </nz-descriptions>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancelResetInfo()">取消</button>
    <button nz-button nzType="primary" (click)="handleOkResetInfo()" [nzLoading]="isOkLoadingResetInfo">确认修改</button>
  </div>
</nz-modal>
