<div class="ml-8">
  <div>
    <button class="w-80 h-10 mt-2" nz-button [nzType]="'primary'" (click)="showModalInner()"><span
        class="font-bold">创建新申请 (教师在系统内)</span></button>

  </div>
  <div class="mt-6">
    <button class="w-80 h-10 " nz-button [nzType]="'primary'" (click)="showModalOuter()"><span>创建新申请
        (教师不在系统内)</span></button>
  </div>

  <!-- 系统内教师毕设申请的对话框 -->
  <nz-modal [(nzVisible)]="isVisibleInner" nzTitle="系统内毕业设计申请" (nzOnCancel)="handleCancelInner()"
    (nzOnOk)="handleOkInner()" [nzOkLoading]="isOkLoadingInner">
    <ng-container *nzModalContent>
      <nz-descriptions nzTitle="" nzBordered>
        <nz-descriptions-item nzTitle="教师工号(可在教师查询页查询到)">
          <nz-input-number [(ngModel)]="currentInnerRequest " [nzStep]="1"></nz-input-number>
        </nz-descriptions-item>
      </nz-descriptions>
    </ng-container>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleCancelInner()">取消</button>
      <button nz-button nzType="primary" (click)="handleOkInner()" [nzLoading]="isOkLoadingInner">确认提交申请</button>
    </div>
  </nz-modal>

  <!-- 系统外课程毕业设计申请的对话框 -->
  <nz-modal [(nzVisible)]="isVisibleOuter" nzTitle="系统外课程毕业设计申请" (nzOnCancel)="handleCancelOuter()"
    (nzOnOk)="handleOkOuter()" [nzOkLoading]="isOkLoadingOuter">
    <ng-container *nzModalContent>
      <nz-descriptions nzTitle="" nzBordered>
        <nz-descriptions-item nzTitle="教师名称">
          <input nz-input [(ngModel)]="currentOuterRequest" />
        </nz-descriptions-item>
      </nz-descriptions>
    </ng-container>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleCancelOuter()">取消</button>
      <button nz-button nzType="primary" (click)="handleOkOuter()" [nzLoading]="isOkLoadingOuter">确认提交申请</button>
    </div>
  </nz-modal>

  <!-- 系统外课程毕业设计申请提醒的对话框 -->
  <nz-modal [(nzVisible)]="isVisibleOuterWarning" nzTitle="注意事项" (nzOnCancel)="handleCancelOuterWarning()"
    (nzOnOk)="handleOkOuterWarning()">
    <ng-container *nzModalContent>
      <div class="text-base">
        <p>
          1. 此申请方式仅用于申请教务系统内<span class=" font-bold">不存在</span>的教师的毕业设计，在申请前请确保相关教师确实在查询页中不存在。
        </p>
        <p> 2. 由于此申请方式默认教师方已同意，请<span class=" font-bold">确保在申请前已经与相关教师进行联系并确认教师同意此申请</span>。申请发出后结果由申请人自行承担。</p>
        <p> 3. 可随时撤销申请，但教务会随时查询申请情况,请<span class=" font-bold">谨慎填写与提交</span>。</p>
      </div>
    </ng-container>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleCancelOuterWarning()">取消</button>
      <button nz-button nzType="primary" (click)="handleOkOuterWarning()">确认已阅读注意事项</button>
    </div>
  </nz-modal>
</div>
