<div class="ml-8">
  <!-- 展示当前课程表格 -->
  <h4 nz-typography class="mt-2">教师列表</h4>
  <nz-table #currentTeacherInTable [nzPageSize]="10" nzShowQuickJumper [nzData]='currentDisplayTeacherList!'>
    <thead>
      <tr>
        <th nzCustomFilter>教师工号
          <nz-filter-trigger [(nzVisible)]="visibleSearchCode" [nzActive]="searchCodeValue.length > 0"
            [nzDropdownMenu]="searchCodeMenu">
            <i nz-icon nzType="filter" nzTheme="twotone"></i>
          </nz-filter-trigger>
        </th>
        <th nzCustomFilter>教师姓名
          <nz-filter-trigger [(nzVisible)]="visibleSearchTitle" [nzActive]="searchTitleValue.length > 0"
            [nzDropdownMenu]="searchTitleMenu">
            <i nz-icon nzType="filter" nzTheme="twotone"></i>
          </nz-filter-trigger>
        </th>
        <th>联系方式</th>
        <th>研究所</th>
        <th>院系</th>
        <th>单位</th>
        <th>职称</th>
        <th>研究方向</th>
        <th>招收学生数</th>
        <!-- <th>操作</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of currentTeacherInTable.data">
        <td>{{ data.sid }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.contact }}</td>
        <td>{{ data.institute }}</td>
        <td>{{ data.department }}</td>
        <td>{{ data.organization }}</td>
        <td>{{ data.job }}</td>
        <td>{{ data.direction }}</td>
        <td>{{ data.maxRes }}</td>
        <!-- <td>
          <a nz-button nzType="link" (click)="showModalShowInfo(data)">更多教师信息</a>
          <nz-divider nzType="vertical"></nz-divider>
        </td> -->
      </tr>
    </tbody>
  </nz-table>

  <!-- 课程名的搜索的下拉框 -->
  <nz-dropdown-menu #searchTitleMenu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="p-2">
        <input class="w-44 mb-2 block" nz-input placeholder="按课程名搜索" [(ngModel)]="searchTitleValue" />
        <button class="w-20 mr-4" nz-button nzSize="small" nzType="primary" (click)="searchTitle()">
          搜索
        </button>
        <button class="w-20" nz-button nzSize="small" (click)="resetTitle()">重置</button>
      </div>
    </div>
  </nz-dropdown-menu>

  <!-- code的搜索的下拉框 -->
  <nz-dropdown-menu #searchCodeMenu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="p-2">
        <input class="w-44 mb-2 block" nz-input placeholder="按课程代码搜索" [(ngModel)]="searchCodeValue" />
        <button class="w-20 mr-4" nz-button nzSize="small" nzType="primary" (click)="searchCode()">
          搜索
        </button>
        <button class="w-20" nz-button nzSize="small" (click)="resetCode()">重置</button>
      </div>
    </div>
  </nz-dropdown-menu>

  <!-- 查看教师信息的对话框 -->
  <!-- <nz-modal [nzStyle]="{ width: '80%' }" [(nzVisible)]="isVisibleShowInfo" nzTitle="查看教师信息"
    (nzOnOk)="handleOkShowInfo()" (nzOnCancel)="handleOkShowInfo()" [nzOkLoading]="isOkLoadingShowInfo">
    <ng-container *nzModalContent>
      <nz-descriptions nzTitle="教师信息" nzBordered>
        <nz-descriptions-item nzTitle="教师代码">{{currentSelectedTeacher.sid}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="教师姓名">{{currentSelectedTeacher.name}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="教师职称">{{currentSelectedTeacher.job}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="教师单位">{{currentSelectedTeacher.organization}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="个人介绍" nzSpan="3">{{currentSelectedTeacher.info}}</nz-descriptions-item>
      </nz-descriptions>
    </ng-container>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleOkShowInfo()">确认</button>
    </div>
  </nz-modal> -->
</div>
