<nz-tabset nzLinkRouter nzLinkExact="false" class="ml-4">
  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['home']">主页</a>
  </nz-tab>
  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['personal']">个人信息</a>
  </nz-tab>
  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['teacher']">教师查询</a>
  </nz-tab>
  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['request']">提交申请</a>
  </nz-tab>
  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['application']">我的申请</a>
  </nz-tab>
</nz-tabset>
<router-outlet></router-outlet>
