<div class="ml-8">
  <h4 nz-typography class="mt-2">已提交申请</h4>
  <nz-table #currentRequestInTable [nzPageSize]="10" [nzData]='currentDisplayRequestList!'>
    <thead>
      <tr>
        <th>申请教师</th>
        <th>申请教师类型</th>
        <th>教师是否通过申请</th>
        <th>申请状态
          <nz-filter-trigger [(nzVisible)]="visibleSearchStatus" [nzDropdownMenu]="searchStatusMenu">
            <i nz-icon nzType="filter" nzTheme="twotone"></i>
          </nz-filter-trigger>
        </th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of currentRequestInTable.data">
        <td *ngIf="data.manual">{{ data.manualTeacher }} </td>
        <td *ngIf="!data.manual">{{ data.Teacher.name }} ({{ data.Teacher.sid}})</td>
        <td>{{ data.manual?'校外教师':'校内教师' }}</td>
        <td>{{ data.pass?"通过":"暂未通过"}}</td>
        <td>{{ data.isDeleted?'已删除':'进行中' }}</td>
        <td>
          <a nz-button nzType="link" (click)="showModalShowAgreement(data)">查看完整申请信息</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a *ngIf="!data.isDeleted" nz-button nzType="link" nz-popconfirm
            nzPopconfirmTitle="确定要撤销申请吗? 此次撤销后无法再次向此教师进行申请。" nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="CancelRequestConfirm(data.rid)" (nzOnCancel)="Cancel()" nzOkText="确认撤销申请"
            nzCancelText="取消">撤销申请</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a *ngIf="data.manual" nz-button nzType="link" (click)="showModalPostAgreement(data)">修改校外教师信息</a>
          <nz-divider nzType="vertical"></nz-divider>

        </td>
      </tr>
    </tbody>
  </nz-table>

  <!-- 申请状态的搜索的下拉框 -->
  <nz-dropdown-menu #searchStatusMenu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="p-2">
        <nz-radio-group class="mb-2 block" [(ngModel)]="searchStatusValue">
          <label nz-radio nzValue="true">已删除</label>
          <label nz-radio class="ml-4" nzValue="false">进行中</label>
        </nz-radio-group>
        <button class="w-20 mr-4" nz-button nzSize="small" nzType="primary" (click)="searchStatus()">
          搜索
        </button>
        <button class="w-20" nz-button nzSize="small" (click)="resetStatus()">重置</button>
      </div>
    </div>
  </nz-dropdown-menu>

  <!-- 提交毕业设计工作协议的对话框 -->
  <nz-modal [nzStyle]="{ width: '80%' }" [(nzVisible)]="isVisiblePostAgreement" nzTitle="更改校外教师姓名协议"
    (nzOnOk)="handleOkPostAgreement()" (nzOnCancel)="handleCancelPostAgreement()"
    [nzOkLoading]="isOkLoadingPostAgreement">
    <ng-container *nzModalContent>
      <nz-descriptions nzTitle="" nzBordered>
        <nz-descriptions-item nzTitle="教师名称">
          <input nz-input [(ngModel)]="currentSelectedRequest" />
        </nz-descriptions-item>
      </nz-descriptions>
    </ng-container>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleCancelPostAgreement()">取消</button>
      <button nz-button nzType="primary" (click)="handleOkPostAgreement()"
        [nzLoading]="isOkLoadingPostAgreement">提交</button>
    </div>
  </nz-modal>

  <!-- 查看完整信息的对话框 -->
  <nz-modal [nzStyle]="{ width: '80%' }" [(nzVisible)]="isVisibleShowAgreement" nzTitle="查看申请信息"
    (nzOnOk)="handleOkShowAgreement()" (nzOnCancel)="handleOkShowAgreement()" [nzOkLoading]="isOkLoadingShowAgreement">
    <ng-container *nzModalContent>

      <nz-descriptions nzTitle="申请相关信息" nzBordered class="mt-4">
        <nz-descriptions-item nzTitle="申请id">{{currentSelectedRequest.rid}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="是否已删除">{{currentSelectedRequest.isDeleted?'是':'否'}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="教师是否已通过">{{currentSelectedRequest.pass?'是':'否'}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="教师是否为校外教师">{{currentSelectedRequest.manual?'是':'否'}}</nz-descriptions-item>
      </nz-descriptions>

      <nz-descriptions nzTitle="申请课程教师信息" nzBordered class="mt-4">
        <nz-descriptions-item nzTitle="工号">{{currentSelectedRequest.Teacher.sid}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="姓名">{{currentSelectedRequest.Teacher.name}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="联系方式">{{currentSelectedRequest.Teacher.contact}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="研究所">{{currentSelectedRequest.Teacher.institute}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="院系">{{currentSelectedRequest.Teacher.department}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="单位">{{currentSelectedRequest.Teacher.organization}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="职称">{{currentSelectedRequest.Teacher.job}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="研究方向">{{currentSelectedRequest.Teacher.direction}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="招收学生数">{{currentSelectedRequest.Teacher.maxRes}}
        </nz-descriptions-item>
      </nz-descriptions>

    </ng-container>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleOkShowAgreement()">退出</button>
    </div>
  </nz-modal>

</div>
